{% extends "site_base.html" %}

{% block maincontent %}
    <div>
        {% if saved %}
          <div class="alert alert-success">
              <a href="#" class="close" data-dismiss="alert">x></a>
              <strong> {{saved}} </strong>
          </div>
        {% endif %}
        {% if animal_form.errors %}
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert">x</a>
            <strong>Error!</strong>
        </div>
        {% endif %}
        <form method="POST" form class="form-group">
        {% csrf_token %}
        <div class="form_group">
        {{animal_form}}
        </div>
        <button class="btn btn-lg btn-primary " type="submit">Tallenna</button>
        </form>
        <!-- animal.form.name can set where it is located -->
        <br>
    </div>
{% endblock %}
