{% extends "site_base.html" %}

{% block maincontent %}

  <script>
    //This is sort of hax to get multiselect work like table
    window.onload = function() {
      document.getElementById('userform').onsubmit = function() {
        $('#id_animals option').prop('selected', true);
      };
    }
  </script>

    <div>
        <h2> Omistaja </h2>
        {% if owner_form.errors %}
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {{owner_form.errors}}
        </div>
        {% endif %}

        <form method="POST" id="userform" form class="niceform">
        {% csrf_token %}
        <div class="form_group">
        {{owner_form}}
        </div>
        <button class="btn btn-lg btn-primary " type="submit">Tallenna</button>
        </form>
    </div>
<!-- $("#myselect").find("option").attr("selected", "selected").val(yourValue); -->

{% endblock %}
