{% extends "site_base.html" %}

{% block maincontent %}

    <div>
        <h2> Omistaja </h2>
        {% if owner_form.errors %}
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {{owner_form.errors }}
        </div>
        {% endif %}

        {% if owner_form.success %}
        <div class="alert alert-success">
          <strong>Tallennettu</strong> Muutokset on tallennettu.
        </div>
        {% endif%}

        <form method="POST" id="ownerform" class="niceform">
        {% csrf_token %}
        <div class="form_group">
        {{owner_form.id | safe}}
        {{owner_form.name | safe}}
        {{owner_form.address | safe}}
        {{owner_form.phonenumber | safe}}
        {{owner_form.email | safe}}
        {{owner_form.other_info | safe}}
        {{owner_form.post_office | safe}}

        {{ owner_form.animals | safe }}

        </div>
        <button class="btn btn-lg btn-primary " type="button" onclick="submitForm('owner')">Tallenna</button>
        </form>
    </div>
<!-- $("#myselect").find("option").attr("selected", "selected").val(yourValue); -->

{% endblock %}
