<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Web based vererinary application">
    <meta name="author" content="Markus Peltola">

    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/>
    <title>VetApp net </title>
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../static/bootstrap/css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">VetApp Net</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          {% if user != None %}
            <li><a href="/visit">Uusi käynti</a></li>
            <li><a href="/newvisit">Uusi käynti</a></li>
            <li><a href="/owner">Omistajat</a></li>
            <li><a href="/settings">Asetukset</a></li>
          {% endif %}
            <li><a href="/help">Ohje</a></li>
          </ul>
          {% include "auth_form.html" %}
        </div>
      </div>
    </nav>

    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block maincontent %}
            {% endblock %}

            <div class="ui-widget">
              <label for="animal-tags">Tags: </label>
              <input id="animal-tags"> </input>
            <button id="add-btn" value=""> Add </button>
            <button id="about-btn2"> Make query!</button>
            </div>

            {{ animal_table | safe }} <!-- add safe tag to allow raw html -->


        </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static "js/jasny-bootstrap.min.js" %}"></script>
    <script src="{% static "js/search-jquery.js" %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <!-- <script src="../../static/bootstrap/js/docs.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../static/bootstrap/js/ie10-viewport-bug-workaround.js"></script> -->


  </body>
</html>
