{% extends "site_base.html" %}

{% block maincontent %}
    <div>
      <h2> Käynti </h2>
      {% if visit_form.errors %}
      <div class="alert alert-warning">
          <a href="#" class="close" data-dismiss="alert">x</a>
          <strong>{{visit_form.errors}}</strong>
      </div>
      {% endif %}
      <form method="POST" form class="form-group">
      {% csrf_token %}
      {{visit_form}}
      <label>{{visit_form.owner_label}}:</label> <div>{{visit_form.owner_text}}</div><br>

      <ul class="nav nav-tabs">
        {% for form in visit_form.formset %}
            <li {% if form == visit_form.formset|first %} class="active" {% endif %} ><a data-toggle="tab" href="#{{form.animal_pk}}">{{form.animal_text}}</a></li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% for form in visit_form.formset %}
          <div id="{{form.animal_pk}}" {% if form == visit_form.formset|first %} class="tab-pane fade in active"
          {% else %} class="tab-pane fade" {% endif %}>
            {{form}}
          </div>
        {% endfor %}
      </div>

      <button class="btn btn-lg btn-primary " type="submit">Tallenna</button>
      </form>
      <script>
        console.log
        window.onload= function(){
          var ISODate = (new Date()).toISOString()
          console.log(ISODate)
          document.getElementById('id_start_time').value = ISODate;
        }
      </script>
    </div>
{% endblock %}
