{% extends "site_base.html" %}

{% block maincontent %}
    <div>
      <h2> Käynti </h2>
      {% if visit_form.errors %}
      <div class="alert alert-warning">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          {{visit_form.errors }}
      </div>
      {% endif %}

      {% if visit_form.success %}
      <div class="alert alert-success">
        <strong>Tallennettu</strong> Muutokset on tallennettu.
      </div>
      {% endif%}

      <form method="POST" id="ownerform" class="niceform">
        {% csrf_token %}
        <div class="form_group">
          {{visit_form.visit_reason | safe}}
          {{visit_form.start_time | safe}}
          {{visit_form.end_time | safe}}
          {{visit_form.vet | safe}}
          {{visit_form.owner | safe}}
          {{visit_form.visitanimals | safe}}
          {{visit_form.items | safe}}
          {{visit_form.archive | safe}}
        </div>
        <button class="btn btn-lg btn-primary " type="button" onclick="submitForm('owner')">Tallenna</button>
      </form>


    </div>
{% endblock %}
